USE [master]
GO
/****** Object:  Database [hrmg4]    Script Date: 2/10/2018 8:50:27 PM ******/
CREATE DATABASE [hrmg4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hrmg4_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\hrmg4.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'hrmg4_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\hrmg4.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hrmg4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hrmg4]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 2/10/2018 8:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Department](
	[dpt_id] [int] IDENTITY(1,1) NOT NULL,
	[dpt_name] [varchar](50) NULL,
	[Parentdpt] [varchar](50) NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[dpt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[login]    Script Date: 2/10/2018 8:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[login](
	[login_id] [varchar](50) NOT NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
 CONSTRAINT [PK_login] PRIMARY KEY CLUSTERED 
(
	[login_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[registration]    Script Date: 2/10/2018 8:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[registration](
	[emp_id] [int] IDENTITY(1,1) NOT NULL,
	[FName] [varchar](100) NULL,
	[LName] [varchar](100) NULL,
	[FaName] [varchar](100) NULL,
	[MaName] [varchar](100) NULL,
	[Email] [varchar](50) NULL,
	[Contact] [int] NULL,
	[DateofB] [varchar](50) NULL,
	[Paddress] [varchar](100) NULL,
	[Peraddress] [varchar](200) NULL,
	[JoinDate] [varchar](50) NULL,
	[Department] [varchar](100) NULL,
	[Designation] [varchar](50) NULL,
	[LastDegree] [varchar](100) NULL,
	[BasicPay] [int] NULL,
 CONSTRAINT [PK_registration_1] PRIMARY KEY CLUSTERED 
(
	[emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Task2]    Script Date: 2/10/2018 8:50:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Task2](
	[task_id] [int] IDENTITY(1,1) NOT NULL,
	[emp_id] [int] NOT NULL,
	[task_name] [varchar](50) NULL,
	[task_start_date] [date] NULL,
	[task_update_date] [varchar](50) NULL,
	[dpt_id] [varchar](50) NULL,
	[task_details] [varchar](300) NULL,
	[task_com] [varchar](350) NULL,
 CONSTRAINT [PK_Task2] PRIMARY KEY CLUSTERED 
(
	[task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Task2]  WITH CHECK ADD  CONSTRAINT [FK_Task2_registration] FOREIGN KEY([emp_id])
REFERENCES [dbo].[registration] ([emp_id])
GO
ALTER TABLE [dbo].[Task2] CHECK CONSTRAINT [FK_Task2_registration]
GO
USE [master]
GO
