<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
     <add name="mycon" connectionString="server=hal\SQLEXPRESS;database=hrmg4;integrated security=true;" />  
    <add name="DefaultConnection" connectionString="Data Source=hal\SQLEXPRESS;Initial Catalog=hrmg4;Integrated Security=True;Uid=sa;Password=123; "
      providerName="System.Data.SqlClient" />
    <add name="hrmg4ConnectionString" connectionString="Data Source=hal\SQLEXPRESS;Initial Catalog=hrmg4;Integrated Security=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>